---
import Layout from '../layouts/Layout.astro';
import MyComponentStory from "../stories/MyComponent.jsx";
---

<Layout title="Welcome to Pilo DS.">
	<main>
		<MyComponentStory />
	</main>
</Layout>

<style>
	
</style>
